@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@700&family=Roboto:ital@1&display=swap');

/* font-family: 'Bree Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root {
  --primary-color: #fff;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #00102A;
  --secondary-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--primary-color);
  text-align: center;
}



/* NAV */
nav {
  display: flex;
  background-color: #101b5e;
  height: 8.5vh;
  width: 100%;
  align-items: center;
}

#logo {
  width: 30%;
  margin-left: -15rem;

}

#logo img {
  width: 60%;

}

nav ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 10rem;
  gap: 5rem;
  text-decoration: none;
}

nav ul li {
  display: block;
  transition: .5s;
}

ul:hover li {
  filter: blur(.4rem);
}

ul li:hover {
  filter: blur(0px);
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #6BCCCD;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

#icon {
  width: 3rem;
  cursor: pointer;
  margin-left: 4rem;
}


/* SECTION */

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
  align-items: center;
}

.firstSection>div {
  width: 25%;
}

.rightSection {
  width: 100%;
  margin: 30px;
  position: relative;
  overflow: hidden;
}

#slider {
  width: 100%;
  display: inline-flex;
  transition: 0.7s;

}

#slider img {
  width: 500px;
  height: 500px;
  object-fit: scale-down;
}


/* .indicators span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(102, 72, 72, 0.5);
  cursor: pointer;
} */

/* .active {
  background: rgb(139, 33, 33) !important;
} */

.leftSection p {
  font-size: 3rem;
  color: var(--secondary-color);
  font-family: 'Roboto', sans-serif;
}

.leftSection .button {
  padding: 50px 0;
}

.leftSection .btn {
  padding: 12px;
  background: #118d37;
  color: white;
  border: 2px solid white;
  font-size: 8rem;
  cursor: pointer;
  border-radius: 5rem;
  box-shadow: 0 0 .5rem green, 0 0 2.5rem green;
  transition: transform 0.3s ease;
}

.leftSection .btn:hover {
  box-shadow: 0 0 .5rem green,
    0 0 2.5rem green, 0 0 5rem green, 0 0 10rem green, 0 0 20rem green;
  transform: scale(1.1);
}

#github a {
  color: white;
  text-decoration: none;
}

/* FOOTER */

footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 34vh;
  width: 100%;
  background-color: #101b5e;
  color: #bdb1ff;
}

footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  gap: 2rem;
  margin: 1rem;
}


footer ul li a {
  color: #fff;
  text-decoration: none;

}

#ed:hover {
  background-color: #6BCCCD;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

#footerFeed {
  margin-top: 44rem;
}


/* Feedback css */

.containerFeed {
  position: relative;
  width: 40rem;
  background: #111;
  padding: 2rem 3rem;
  border: .1rem solid #444;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.containerFeed .star-wedget input {
  display: none;
}

.star-wedget label {
  font-size: 4rem;
  color: #444;
  padding: 1rem;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
  color: #fd4;
}

input:checked~label {
  color: #fd4;
}

input#rate-5:checked~label {
  color: #fe7;
  text-shadow: 0 0 2rem #952
}

#rate-1:checked~header:before {
  content: "I just hate it 😠";
}

#rate-2:checked~header:before {
  content: "I don't like it 😒";
}

#rate-3:checked~header:before {
  content: "It is awesome 😊";
}

#rate-4:checked~header:before {
  content: "I just like it 😎";
}

#rate-5:checked~header:before {
  content: "I just love it 😍";
}

form header {
  width: 100%;
  font-size: 2.5rem;
  color: #fe7;
  font-weight: 500;
  margin: .5rem 0 2rem 0;
  text-align: center;
  transition: all 0.2s ease;
}

.alert {
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;

}

form .textarea {
  height: 10rem;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: .1rem solid #333;
  background: #222;
  padding: 1rem;
  font-size: 1.6rem;
  resize: none;
}

form .btn {
  height: 4.5rem;
  width: 100%;
  margin: 1.5rem 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: .1rem solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #1b1b1b;
}

/*ABOUT */
img {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.content h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
  font-family: 'Bree Serif', serif;
  color: var(--secondary-color);
}

.content h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Bree Serif', serif;
  color: var(--secondary-color);
}

.content p {
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
  color: var(--secondary-color);
}

.content p a {
  text-decoration: none;
}

@media(max-width:1842px) {
  html {
    font-size: 55%;
  }

  nav {
    height: 13.5vh;
  }

  nav h1 {
    padding-left: 2rem;
  }

  footer {
    height: 52vh;
  }

  .firstSection>div {
    width: 40%;
  }


}

@media(max-width:1480px) {
  html {
    font-size: 50%;
  }

}

@media(max-width:1230px) {
  html {
    font-size: 35%;
  }

  .firstSection>div {
    width: 50%;
  }

  nav {
    height: 10rem;
  }

  footer h1 {
    font-size: 3rem;
  }

  footer h2 {
    font-size: 2rem;
  }

  #ed {
    font-size: 3rem;
  }

  .content a {
    font-size: 3rem;
  }

  #slider img {
    width: 400px;
    height: 400px;
    object-fit: scale-down;
  }

}

@media(max-width:1000px) {
  html {
    font-size: 30%;
  }

  .firstSection>div {
    width: 40%;

  }

  footer {
    height: 50vh;
  }

  footer h1 {
    font-size: 3.5rem;
  }

  footer h2 {
    font-size: 2.5rem;
  }

  .content h1 {
    font-size: 6rem;
  }

  .content h2 {
    font-size: 5rem;
  }

  .content p {
    font-size: 4rem;
  }

  .star-wedget label {
    font-size: 4.1rem;
  }

  .alert {
    font-size: 10px;
  }

  form header {
    font-size: 3rem;

  }

  #ed {
    font-size: 4rem;
  }

  #footerFeed {
    margin-top: 80rem;
  }

  #slider img {
    width: 350px;
    height: 350px;
    object-fit: scale-down;
  }

}

@media (max-width: 800px) {
  html {
    font-size: 20%;
  }

  .firstSection {
    flex-direction: column;
    width: 100%;
  }

  .firstSection>div {
    width: 45%;
  }

  .leftSection p {
    font-size: 5rem;
  }

  #slider img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;

  }

  #logo img {
    width: 100%;
    padding-left: 15rem;
    margin-top: -10rem;
  }

  nav ul {
    display: block;
    columns: 2;
    gap: 15rem;
    font-size: 5rem;
    padding-left: 0%;
    margin-top: -10rem;
  }

  nav ul li {
    padding-top: 1rem;
  }

  #icon {
    width: 6rem;
    margin-left: 0%;
  }


  footer {
    height: 50vh;
  }

  footer h1 {
    font-size: 5rem;
  }

  footer h2 {
    font-size: 4rem;
  }


  .content {
    width: 80%;
    margin-top: 5rem;
  }

  #ed {
    font-size: 6rem;
  }

  .containerFeed {
    width: 80rem;
    height: 80rem;
    border-radius: 2rem;
  }

  .star-wedget label {
    font-size: 11.2rem;
  }

  form header {
    font-size: 5rem;
  }

  .alert {
    font-size: 12px;
  }

  form .textarea {
    height: 29rem;
  }

  form .textarea textarea {
    font-size: 3.5rem;
  }

  form .btn {
    height: 8rem;
    margin: 2rem 0;
  }

  form .btn button {
    font-size: 4rem;
  }
}

@media(max-width:660px) {
  #slider img {
    width: 430px;
    height: 430px;
    object-fit: scale-down;
  }
  .firstSection>div {
    width: 80%;
  }

  nav {
    height: 38vh;

  }

  #logo img {
    width: 100%;
    margin-top: -8rem;
  }
}

@media(max-width:565px) {
  #slider img {
    width: 385px;
    height: 385px;
    object-fit: scale-down;
  }
  

  nav {
    height: 40vh;

  }

  #logo img {
    width: 150%;
    margin-left: -10rem;
    margin-top: -11rem;
  }
  .firstSection>div {
    width: 80%;
  }

}

@media(max-width:446px) {

  #slider img {
    width: 330px;
    height: 330px;
    object-fit: scale-down;
  }

  footer {
    height: 35vh;
  }

  nav {
    height: 25vh;

  }

  #logo img {
    width: 200%;
    margin-left: -18rem;
    margin-top: -10rem;
  }
  
  .firstSection>div {
    width: 80%;
  }
}
@media(max-width:400px) {
  footer {
    height: 60vh;
  }

  #slider img {
    width: 230px;
    height: 230px;
    object-fit: scale-down;
  }
  nav {
    height: 38vh;

  }

  #logo img {
    width: 190%;
    margin-left: -15rem;
    margin-top: -10rem;
  }
  .firstSection>div {
    width: 60%;
  }

}